@charset "utf-8";

/* NanumSquare s */
@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareL.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareL.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareL.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareL.ttf') format("truetype");
}
@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareR.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareR.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareR.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareR.ttf') format("truetype");
}
@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareB.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareB.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareB.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareB.ttf') format("truetype");
}
@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareEB.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareEB.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareEB.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/NanumSquare/NanumSquareEB.ttf') format("truetype");
}

/* NanumSquare e */