@charset "utf-8";

/* PlayfairDisplay s */
@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Regular.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Bold.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format("truetype");
}
@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 900;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Black.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Black.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-Black.ttf') format("truetype");
}

/* ----------------------------------------------▽ Italic ▽-------------------------------------------------- */

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: italic;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-RegularItalic.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-RegularItalic.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-RegularItalic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-RegularItalic.ttf') format("truetype");
}
@font-face {
    font-family: 'PlayfairDisplay';
    font-style: italic;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-BoldItalic.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-BoldItalic.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf') format("truetype");
}
@font-face {
    font-family: 'PlayfairDisplay';
    font-style: italic;
    font-weight: 900;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-BlackItalic.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-BlackItalic.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf') format("truetype");
}

/* PlayfairDisplay e */