@charset "utf-8";


/* TheJamsil s */
@font-face {
    font-family: 'TheJamsil';
    font-style: normal;
    font-weight: 100;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Thin.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Thin.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Thin.woff2') format('woff2'),
}
@font-face {
    font-family: 'TheJamsil';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Light.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Light.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Light.woff2') format('woff2'),
}
@font-face {
    font-family: 'TheJamsil';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Regular.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Regular.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Regular.woff2') format('woff2'),
}
@font-face {
    font-family: 'TheJamsil';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Medium.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Medium.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Medium.woff2') format('woff2'),
}
@font-face {
    font-family: 'TheJamsil';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Bold.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Bold.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-Bold.woff2') format('woff2'),
}
@font-face {
    font-family: 'TheJamsil';
    font-style: normal;
    font-weight: 800;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-ExtraBold.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-ExtraBold.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/TheJamsil/TheJamsil-ExtraBold.woff2') format('woff2'),
}

/* TheJamsil e */