@charset "utf-8";

/* Rajdhani s */
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Light.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Light.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Light.ttf') format("truetype");
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Regular.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Regular.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Medium.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Medium.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Medium.ttf') format("truetype");
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-SemiBold.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-SemiBold.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-SemiBold.ttf') format("truetype");
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Bold.eot') format('eot');
    src: 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Bold.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/Shaper-DesignTeam/font/Rajdhani/Rajdhani-Bold.ttf') format("truetype");
}

/* Rajdhani e */
